* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f3e3ca;
  width: 100%;
}

header {
  background-color: #648c87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1350737797956867vh;
}

h1 {
  font-size: 2.9vw;
  font-family: "Abel", sans-serif;
  opacity: 0.42;
  position: relative;
  margin-left: 6%;
}

.Username {
  padding-right: 10%;
}

.GPoint,
.Username {
  font-family: "Abel", sans-serif;
  font-size: 1.7vw;
}

.MainProductContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  margin: 3%;
}

.ProductCont {
  padding: 30px;
  display: flex;
  background-color: #476a5d;
  flex-direction: column;
  text-align: center;
  font-family: arial;
  border-radius: 12px;
}

.Buybtn:hover {
  opacity: 0.7;
}

.Buybtn {
  background-color: rgb(26, 190, 78);
  padding: 3%;
  border-radius: 12px;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  font-size: 1.3vw;
}

.fa-solid {
  font-size: 6.090133982947624vh;
  color: #000000;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  margin-left: 2%;
}

.Name,
.Price {
  font-family: "Abel", sans-serif;
  font-size: 2.3vw;
}

.Description {
  font-family: "Abel", sans-serif;
  font-size: 1.5vw;
}

.ProductImage {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  background-color: #f3e3ca;
}

.ProductInfo {
  display: flex;
  justify-content: space-between;
}

.TextContainer {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: left;
}
